#columns > :last-child {
  transition: 0.3s;
  opacity: 0;
}

#columns > :last-child:hover {
  opacity: 100;
}

ytd-comments .ytd-comments {
  transition: 0.3s;
  opacity: 0;
}

ytd-comments .ytd-comments:hover {
  opacity: 100;
}

/* .style-scope.ytd-rich-grid-renderer {
  --ytd-rich-grid-items-per-row: 4;
} */

#chips {
  display: flex !important;
  flex-direction: row !important;
  transform: none !important;
  width: auto !important;
}

#chips > yt-chip-cloud-chip-renderer {
  display: none !important;
}

#chips > yt-chip-cloud-chip-renderer:first-child,
#chips > yt-chip-cloud-chip-renderer:nth-last-child(1),
#chips > yt-chip-cloud-chip-renderer:nth-last-child(2),
#chips > yt-chip-cloud-chip-renderer:nth-last-child(3) {
  display: flex !important;
}
