# ignore all
*

# but add these:
!README.md
!hammerspoon/
!nvim/
!karabiner/
!lf/
!wezterm/

!hammerspoon/**
!nvim/**
!karabiner/**
!lf/**
!wezterm/**

# but ignore again
nvim/friendly-snippets/
hammerspoon/.secret.json
karabiner/automatic_backups

# macOS-specific files
*/**/.DS_store
