# ignore all
*

!README.md

# but add these:
!hammerspoon/
!nvim/

!hammerspoon/**
!nvim/**

hammerspoon/Spoons/EmmyLua.spoon/annotations
nvim/friendly-snippets/

# macOS-specific files
*/**/.DS_store
