# ignore all
*

# but add these:
!README.md
!hammerspoon/
!nvim/
!karabiner/
!lf/
!wezterm/
!auto-setup
!.zshrc
!espanso/
!nix/

!hammerspoon/**
!nvim/**
!karabiner/**
!lf/**
!wezterm/**
!auto-setup/**
!espanso/**
!nix/**

# but ignore again
nvim/friendly-snippets/
hammerspoon/.secret.json
karabiner/automatic_backups

# macOS-specific files
*/**/.DS_store
