[submodule "archive/pi-mono-pr-prep"]
	path = archive/pi-mono-pr-prep
	url = https://gist.github.com/70d2df9c2ec8351a7b83342e839bb73f.git
	ignore = dirty
[submodule "archive/stall-compaction"]
	path = archive/stall-compaction
	url = https://gist.github.com/3249be6c7d01683670c64f47f7164509.git
	ignore = dirty
[submodule "archive/surprise"]
	path = archive/surprise
	url = https://gist.github.com/fadcfb47f3fe06234b61c1a2d370d6aa.git
	ignore = dirty
